@import ../../styles/variables
    

.tasks 
  list-style: none
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 5px


.item 
  background-size: cover
  background-repeat: no-repeat
  display: flex
  align-items: center
  justify-content: center
  color: #fff

ul
    list-style: none
    display: grid
    grid-template-columns: repeat(3, 0.11fr)
    grid-gap: 5px
