//COULEURS  

$white : #fff
$dark : #000

$darkBlue : #090043
$yellow : #F2BF1C
$purple : #CD12B7

//Variable de la hauteur et largeur du gradient
$zoneG_w : 70vw
$zoneG_h : 70vh

//Variable de la hauteur et largeur de zone Question
$zoneQ_w : $zoneG_w * 0.96
$zoneQ_h : $zoneG_h * 0.94

//mixin

@mixin absoluteCenter
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)   

@mixin flexCenter
    display: flex
    justify-content: center
    align-items: center


//FONT
@font-face 
    font-family: Acme
    src: url(../assets/fonts/Acme-Regular.woff)
