@import ../../../styles/variables
.relier
    color: $white
    .game
        &_container
            display: flex
            flex-direction: row
            justify-content: space-around
            align-items: center

            @include absoluteCenter
        &_canva
            position: relative
            canvas
                position: absolute
                border: none
