@import ../../styles/variables
  
$zone_w : 70vw
$zone_h : 70vh
  
.gradient
  width: $zone_w
  height: $zone_h
  padding: 5px
  background: linear-gradient(to right, $yellow, $purple)
  border-top-left-radius: 100px
  border-bottom-right-radius: 100px
  z-index: 100
  @include absoluteCenter
  @include flexCenter

.zoneQuestion 
  height: $zone_h*0.94
  background-color: $darkBlue
  width: $zone_w*0.96
  border-top-left-radius: 100px
  border-bottom-right-radius: 100px
  @include flexCenter

  
  
