@import ../../styles/variables


.gradient
  display: flex
  justify-content: center
  align-items: center
  width: $zoneG_w
  height: $zoneG_h
  padding: 5px
  background: linear-gradient(to right, $yellow, $purple)
  border-top-left-radius: 100px
  border-bottom-right-radius: 100px
  z-index: 100
  @include absoluteCenter
  @include flexCenter

.zoneQuestion 
  height: $zoneQ_h
  background-color: $darkBlue
  width: $zoneQ_w
  border-top-left-radius: 100px
  border-bottom-right-radius: 100px
  @include flexCenter

  
  
