@import ../../styles/variables

.Chrono
    .compteur
        color: white
        font-weight: 600
        font-size: 3vw
        margin-top: -2vw
        font-family: 'Acme'
        position: absolute
        top: -10%
        left: -15%
        background-color: $purple
        border-radius: 20%
        padding: 1vw

    .passe
        position: absolute
        top: -10%
        right: -15%
        border-radius: 3vw
        background: linear-gradient(to right, $yellow, $purple)
        padding: 1vw
        user-select: none
        color: white
        font-weight: 600
        font-size: 2vw
        margin-top: -2vw


